.skills-container
{
    position: relative;
    display: flex;
    padding: 5rem;
    margin: 10rem auto;

}

.skill-fade-text
{
    position: absolute;

    font-size: 15rem;
    font-style: bold;
    color: rgb(231,231,231);
    bottom: -34.5%;
    right: -25%;
    user-select: none;
}

.skill-container-left
{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-self: center;

}
.skill-container-right
{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
    gap:2rem;
    justify-content: center;
}

.blob-style
{
    position: absolute;
    top:50%;
    left:50%;
    animation: blobAnimate 3s linear infinite;
    transform:translate(-50%, -50%);
    z-index: -1;

}

@keyframes blobAnimate
{
    50%
    {
        top:54%;
        left: 46%;
    }
}

.skills-logo
{
    width: 90px;
    transition: 0.5s;

}

.skills-logo:hover
{
    transform: scale(1.2);
}

.skill-heading
{
    font-size: 50px;
    font-style: bold;
    color: var(--bgOrange);
    line-height: 50px;

}
.caps
{
    font-size: 90px;

}

.skill-subHeading
{
    margin-top: 1rem;
    width: 85%;
    text-align: justify;

}
.skill-subHeading p
{
    margin:15px 0;
}